.layout {
  display: flex;
  width: 100%;
  .resume_fields {
    flex: 13;
  }
  .runtime_resume {
    flex: 11;
  }
}

@media(max-width:1000px) {
  .layout {
    display: flex;
    flex-direction: column;
    .resume_fields {
      flex: 1;
    }
    .runtime_resume {
      flex: 1;
    }
  }
}
// @media(max-width:700px) {
//   .layout {
//     display: flex;
//     flex-direction: column;
//     .resume_fields {
//       flex: 1;
//     }

//   }
// }
